
/* Navbar style  */
.navbar-brand {
  float: left !important;
  height: 10% !important;
  padding: 0 !important;
  
  }
 .navbar{
     background-color: rgba(56, 95, 56, 0.445) !important;
      opacity:0.8 !important;
     line-height: 20px !important;
     line-height: 20px !important;
 }
.navbar-form-navbar-left{
  margin-left: 117rem !important;
  margin-top: 2.2rem !important;
}
.form-control-col-lg-8{
  width:25rem !important;
  line-height: 20px !important;
}

/* .logo{
margin-left: 2rem;
} */
.fa{
  color: rgba(53, 78, 53, 0.445)  !important;
}
.navbar{
  /* margin-top:2rem; */
  width : 100% !important;
  /* margin-left: 1.5rem; */
}

/* Navbar style end */



.alert {
  padding: 20px !important;
  background-color: rgba(56, 95, 56, 0.445) !important;
  color: white !important;
  width:80% !important;
  margin-left: 11rem !important;
  opacity:0.5 !important;
}

.closebtn {
  margin-left: 15px !important;
  color: white !important;
  font-weight: bold !important;
  float: right !important;
  font-size: 22px !important;
  line-height: 20px !important;
  cursor: pointer !important;
  transition: 0.3s !important;
}

.closebtn:hover {
  color: black !important;
}

body {
  /* background: linear-gradient(70deg, #e6e6e6, #f7f7f7); */
  background: white !important;
  color: #514B64 !important;
}


/* Thumbnail style */

 .container{
  display: inline-block !important;
    border: 1px solid rgba(56, 95, 56, 0.445) !important;
    background: linear-gradient(70deg, #e6e6e6, #f7f7f7) !important;
    margin-bottom: 50px !important;
    margin-right: 310px !important;
    margin-top: 90px !important;
    width:700px !important;
    padding-top:50px !important;
    margin-left: 110px !important;
    
}
/*
.thumbnailimg {
  border: 1px solid rgba(56, 95, 56, 0.445);
  border-radius: 4px;
  padding: 2px;
  width: 100px;
  margin-top: 3rem;
  display:flex;
}

.thumbnailimg:hover {
  box-shadow: 0 0 2px 1px rgba(56, 95, 56, 0.445);
}
.thumbnailimgmain{
    width: 50rem;
    margin-left: 20rem;
   position: absolute;
   bottom:50px
} */

.hide-bullets {
  list-style:none !important;
  margin-left: -40px !important;
  margin-top:20px !important;
  
}

.thumbnail {
  padding: 0 !important;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  width: 100% !important;
  height:500px !important;
}
#slider-thumbs {
  max-height: 495px !important;
  width:200px !important;
  overflow-y: scroll !important;
  white-space: nowrap !important;
  cursor: pointer !important;
  
}

                                          
.row{
height:40em !important;
}

/* zoom styling */
.carousel-inner:hover {

transform: scale(1.5) !important;
}


/* .information{
  display: inline-block;
  border: 1px solid rgba(56, 95, 56, 0.445);
  background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
  
} */

.inline1{
display: inline-block !important;
width:50% !important;


}

.inline2{
  display: inline-block !important;  
  width:50% !important;
  margin-bottom:2000px !important;
  /* border: 1px solid rgba(56, 95, 56, 0.445); */
  background: white !important;
  width:30% !important;
  position: absolute !important;
   margin-top:88px !important;
   margin-right:20px !important;
   margin-left:150px !important;
   height: 610px !important;


}

/* product informations style  */

.readreview{
  cursor: pointer !important;
  text-decoration: underline !important;
  color:black  !important;
}

/* .starsrating{
  width:50%
} */

.info{
  text-align: center !important;
  margin-top:10px !important;
  font-size:30px !important;
}

.stars{
  text-align: center !important;
  margin-top:10px  !important;
}
.readreview{
margin-left: 20px !important;
}

.styles{
  margin-top:10px !important;
  margin-left: 10px !important;
  font-size:20px !important;
}

.style{
  display: inline-block !important;
  height: 65px !important;
  width: 65px !important;
  border:1px solid !important;
  border-radius: 50% !important;
  margin-top: 20px !important;
  text-align: center  !important;
  
}
.circle{
  display: inline-block !important;
  cursor: pointer !important;
  padding:3px !important;
  flex-wrap: wrap !important;
}

.selectsize{
  width: 250px !important;
  height:60px !important;
  display: inline-block !important;
  margin-top: 20px !important;
}

.quantity{
  width: 150px !important;
  height:60px !important;
  display: inline-block !important;
  margin-top: 20px !important;
  margin-left: 30px !important;
}

.price{
  text-align: center !important;
  margin-top:10px !important;
  font-size:30px !important;
  color:grey !important;

}

.addtocart{
  margin-top:20px !important;
  width: 350px !important;
  height:60px !important;
}